@use './_variables.sass' as *

// Use mobile first principle
.home_technology
  background-image: $Mobile_bg
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 100vh
  width: 100vw
  overflow: hidden

.main_container
  border: 1px solid yellow

.tech
  &-content
    text-align: center
  &-page-title
    text-transform: uppercase
    letter-spacing: 2.7px
    color: $clr-white
    font-size: 1rem
    font-weight: 400
    font-family: $ff-sans-cond
    display: flex
    align-items: center
    padding-bottom: 2rem
    & span
      color: rgba(white,.25)
  &-button-container
    margin: 1.6rem
    border: 1px solid $clr-white
    display: flex


  &-name
    // border: 1px solid $clr-white
    font-size: 1.8rem
    text-transform: uppercase
    font-family: $ff-serif
    color: $clr-white
    font-weight: 400
    margin: 1rem auto 1.6rem auto

  &-title
    // border: 1px solid $clr-white
    font-size: 0.88rem
    text-transform: uppercase
    font-family: $ff-serif
    color: $clr-mauve
    font-weight: 400
    letter-spacing: 2.36px
    padding-top: 20px

  &-description
    color: $clr-mauve
    font-family: $ff-serif
    font-size: .9rem
    font-weight: 400
    line-height: 1.6rem
    margin: auto
    padding: 0 1.6rem
  
  &-btn 
    border: 1px solid hsla(0 , 0%, 100%, .477)
    border-radius: 50%
    font-family: $ff-serif
    font-size: 1rem
    height: 40px
    margin: 0 20px
    width: 40px

  &-btn-container
    display: flex
    margin: 1.6rem 0
    border: 1px solid blue

  
  &-image
    border: 1px solid $clr-white
    overflow-clip-margin: content-box
    overflow: clip
    height: auto
    width: calc(100vw + 5px)



.unknow
  border: 2px solid blue

.TechDetails
  border: 2px solid red
  display: flex
  flex-direction: column

