.desktop-technology-a {
  background-color: #0a0c16;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-technology-a .overlap-wrapper {
  background-color: #0a0c16;
  height: 900px;
  width: 1440px;
}

.desktop-technology-a .overlap {
  background-image: url(./bitmap.jpg);
  background-size: 100% 100%;
  height: 900px;
  position: relative;
}

.desktop-technology-a .group {
  height: 96px;
  left: 55px;
  position: absolute;
  top: 40px;
  width: 1385px;
}

.desktop-technology-a .overlap-group-wrapper {
  height: 48px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 48px;
}

.desktop-technology-a .overlap-group {
  background-color: #ffffff;
  border-radius: 25px;
  height: 50px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 50px;
}

.desktop-technology-a .path {
  height: 48px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 48px;
}

.desktop-technology-a .div {
  height: 98px;
  left: 111px;
  position: absolute;
  top: -1px;
  width: 1275px;
}

.desktop-technology-a .rectangle {
  -webkit-backdrop-filter: blur(81.55px) brightness(100%);
  backdrop-filter: blur(81.55px) brightness(100%);
  background-color: #ffffff0a;
  height: 98px;
  left: 443px;
  position: absolute;
  top: 0;
  width: 832px;
}

.desktop-technology-a .rectangle-2 {
  background-color: #ffffff;
  height: 5px;
  left: 981px;
  position: absolute;
  top: 93px;
  width: 129px;
}

.desktop-technology-a .rectangle-3 {
  background-color: #ffffff;
  height: 3px;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 48px;
  width: 475px;
}

.desktop-technology-a .group-2 {
  height: 19px;
  left: 567px;
  position: absolute;
  top: 40px;
  width: 542px;
}

.desktop-technology-a .group-3 {
  height: 19px;
  left: 118px;
  position: absolute;
  top: 0;
  width: 130px;
}

.desktop-technology-a .text-wrapper {
  color: #ffffff;
  font-family: "Barlow Condensed-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.7px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-technology-a .text-wrapper-2 {
  color: #ffffff;
  font-family: "Barlow Condensed-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 2.7px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-technology-a .group-copy {
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
}

.desktop-technology-a .group-copy-2 {
  height: 19px;
  left: 296px;
  position: absolute;
  top: 0;
  width: 71px;
}

.desktop-technology-a .group-copy-3 {
  height: 19px;
  left: 415px;
  position: absolute;
  top: 0;
  width: 127px;
}

.desktop-technology-a .group-4 {
  height: 34px;
  left: 166px;
  position: absolute;
  top: 212px;
  width: 305px;
}

.desktop-technology-a .text-wrapper-3 {
  color: #ffffff;
  font-family: "Barlow Condensed-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 0;
  letter-spacing: 4.72px;
  line-height: normal;
  opacity: 0.25;
  position: absolute;
  top: 0;
}

.desktop-technology-a .text-wrapper-4 {
  color: #ffffff;
  font-family: "Barlow Condensed-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 4.72px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.desktop-technology-a .div-wrapper {
  height: 80px;
  left: 165px;
  overflow: hidden;
  position: absolute;
  top: 383px;
  width: 80px;
}

.desktop-technology-a .overlap-2 {
  background-color: #ffffff;
  border-radius: 41px;
  height: 82px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 82px;
}

.desktop-technology-a .text-wrapper-5 {
  color: #0b0d17;
  font-family: "Bellefair-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
}

.desktop-technology-a .group-copy-4 {
  border: 1px solid;
  border-color: #ffffff40;
  border-radius: 40px;
  height: 80px;
  left: 165px;
  overflow: hidden;
  position: absolute;
  top: 495px;
  width: 80px;
}

.desktop-technology-a .text-wrapper-6 {
  color: #ffffff;
  font-family: "Bellefair-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.desktop-technology-a .group-copy-5 {
  border: 1px solid;
  border-color: #ffffff40;
  border-radius: 40px;
  height: 80px;
  left: 165px;
  overflow: hidden;
  position: absolute;
  top: 607px;
  width: 80px;
}

.desktop-technology-a .bitmap {
  height: 527px;
  left: 925px;
  position: absolute;
  top: 272px;
  width: 515px;
}

.desktop-technology-a .group-5 {
  height: 303px;
  left: 325px;
  position: absolute;
  top: 383px;
  width: 470px;
}

.desktop-technology-a .text-wrapper-7 {
  color: #ffffff;
  font-family: "Bellefair-Regular", Helvetica;
  font-size: 56px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.desktop-technology-a .text-wrapper-8 {
  color: #d0d6f9;
  font-family: "Barlow Condensed-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 2.7px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-technology-a .a-launch-vehicle-or {
  color: #d0d6f9;
  font-family: "Barlow-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 111px;
  width: 444px;
}
